

.hero_container{

    height :170px;
background-color: #FDDE00;


}

.textcity{

    font-size: 49px;
    color: #ffffff;
    }
        

    
.textdate{
    font-size: 20px;
    color: #999999
    }


