*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.padding0{
    padding: 0px;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center; 
    height: 100vh;
    gap: 1rem;
    padding: 2rem;
   /* background: linear-gradient(to bottom, #57c1eb 0%,#246fa8 100%);*/

}

.image{
    width: 50%;
    height: 50%;
}

.wi-day-sunny {

    color:rgb(63, 32, 197);
    font-size: 5rem;
}


  

