
.container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center; 
    height: 100vh;
    gap: 1rem;
    padding: 2rem;
   /* background: linear-gradient(to bottom, #57c1eb 0%,#246fa8 100%);*/

}

.image{
    width: 50%;
    height: 50%;
}

.wi-day-sunny {

    color:rgb(63, 32, 197);
    font-size: 5rem;
}
.element {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    margin: 10px;
   }

  

.white {fill:#FFFFFF}
.gray {fill:#E0E0E0}
.yellow {fill:#FFEB3B} 
.blue{fill:#48A9D8}