.params_container{
    width: 586px;
    height: 190px;
    background-color: #EDEDED;
    margin-top: 80px;
    font-family: 'Roboto';
}
.photo_cards{
    width: 170px;   
    color: #999999;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    padding-top: 6px;
    padding-right: 8px;
    text-align: right;
    margin-left: 16px;
    margin-top: 12px ;
}

.photo_cards-accessories{
    width: 562px;   
    color: #999999;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    padding-top: 6px;
    padding-right: 8px;
    text-align: right;
    margin: 6px 12px 12px 16px;
   

}



.parameters {
    font-size: 25px;
    color: #1A1A1A;
    font-weight: 400;
    text-align: center;
}


    






