


.newfootercontainer{


    padding-top: 22px;
    font-family: "roboto";


}
    

/* .columfooter {

    width: 25%;
    
 
} */

.icon {

    height: 30px;
    margin-left: 6px;
    }

    .cardcontainer {

        background-color:#808080;
        

    }