.container_footer{

padding: 0px;
margin-left: 10px;
Height :173px;

}

.footer_container{

Height :173px;
background-color: #808080;
margin-left: 0px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;

}
.textfootercontainer{

display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
}       

    
.textfootercomprar{
    margin-left: 122px;
    font-size: 16px;
    color: #F7F7F7
    }

.footerinfocontainer{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 60px;
     
}

