@import "custom";
@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: 'Roboto';
    src: url("./assets/Roboto/Roboto-Medium.ttf") format("ttf");
}

body{
    font-family: "Roboto";
    font-weight: 600;
}
