
// Color system

// scss-docs-start primary-color-variables

$primary-100: #FFF9CC !default;
$primary-200: #FFF399 !default;
$primary-300: #FFEC66 !default;
$primary-400: #FFE633 !default;
$primary-500: #FDDE00 !default;
$primary-600: #CCB300 !default;
$primary-700: #998600 !default;
$primary-800: #665A00 !default;
$primary-900: #332D00 !default;


// scss-docs-start neutral-color-variables

$white: #FFFFFF !default;
$white-070: #F7F7F7 !default;
$neutral-100: #E6E6E6 !default;
$neutral-200: #CCCCCC !default;
$neutral-300: #B2B2B2 !default;
$neutral-400: #999999 !default;
$neutral-500: #808080 !default;
$neutral-600: #666666 !default;
$neutral-700: #4D4D4D !default;
$neutral-800: #333333 !default;
$neutral-900: #1A1A1A !default;


// nav size





$theme-colors: (

    "primary-100": $primary-100,
    "primary-200": $primary-200,
    "primary-300": $primary-300,
    "primary-400": $primary-400,
    "primary-500": $primary-500,
    "primary-600": $primary-600,
    "primary-700": $primary-700,
    "primary-800": $primary-800,
    "primary-900": $primary-900,


    "white": $white,
    "white-070": $white-070,
    "neutral-100": $neutral-100,
    "neutral-200": $neutral-200,
    "neutral-300": $neutral-300,
    "neutral-400": $neutral-400,
    "neutral-500": $neutral-500,
    "neutral-600": $neutral-600,
    "neutral-700": $neutral-700,
    "neutral-800": $neutral-800,
    "neutral-900": $neutral-900,
 
);


$input-btn-padding-y-sm:      8px !default;
$input-btn-padding-x-sm:      8px !default;
$btn-font-size-sm: 16px !default;
$btn-border-radius-sm: 50% !default;


@import "~bootstrap/scss/bootstrap";
