.weather_card_title{

    margin-top: 30px;
}
.element {
    display: flex;
    justify-content: center;
    align-items: center;
  
  
    color: black;
}

.white {fill:#CCCCCC}
.gray {fill:#B2B2B2}
.yellow {fill:#FFEB3B} 
.blue{fill:#48A9D8}
.copos{fill:#E6E6E6}

.small-icon-size{
    width: 79px;
    height: 77px;
    margin-top: 14px;
    margin-bottom: 14px;
}
.big-icon-size{
 margin-top: 80px;
    width: 200px;
    height: 200px;
}

.weekly{
    display: flex;
}

.card_container{
    margin-top: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;   
    font-size: 25px;
    color: #333333;
}

.weekly_cards{
    width: 79px;
    height: 77px;
    padding: 8px;
    margin: 8px;
    left: 8px;
    top: 46px;
    background: #B3B3B3;
    border-radius: 4px;
    
}

.icons_style{
    width: 300px;
    height: 300px;
}



#custom-switch{
    outline: none;
    box-shadow: none;
}


  
#custom-switch:checked {
    border-color: #CCCCCC !important;
    background-color: #FDDE00 !important;
  }
  

  
  #custom-switch:not(:checked) {
    border-color: #CCCCCC !important;
  }

.toggle{
    font-size:  18px;
}

  
